[user]
  name = Alex Baumhoer
  email = alexbaumhoer@users.noreply.github.com

[github]
  user = alexbaumhoer

[alias]
  br = branch
  co = checkout
  pushf = push --force-with-lease
  st = status
  fpa = fetch --prune --all

[pull]
  ff = only
